#content{
    display: flex;
    flex-direction: column;
}
.header{
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.773);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.title{
    font-size: 36px;
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.tabs{
    flex-grow: 1;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    font-size: 20px;
    border-radius: 10px;
}
.main{
    flex:1 0 auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
.footer{
    background-color: black;
    height:5vh;
    flex-shrink: 0vh;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.items{
    width:500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .dimg{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desc{
    font-size:24px;
  }